In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
def fetch_data(tickers, start):
  data = yf.download(tickers, start)['Adj Close']
  returns = data.pct_change().dropna()
  return data, returns

In [6]:
d_, r_ = fetch_data(['AAPL','TSLA'],'2022-01-01')

[*********************100%***********************]  2 of 2 completed

In [8]:
def get_most_volatile_stocks(returns, top_n=20):
  volatility = returns.std() * np.sqrt(252)
  most_volatile = volatility.sort_values(ascending=False).head(top_n)
  return most_volatile

In [9]:
get_most_volatile_stocks(r_)

Ticker
TSLA    0.613038
AAPL    0.270935
dtype: float64

In [11]:
np.ones(4) / 4

array([0.25, 0.25, 0.25, 0.25])

In [12]:
def simulate_portfolio(data, most_volatile):
  selected_stocks = data[most_volatile.index]
  equal_weights = np.ones(len(selected_stocks.columns)) / len(selected_stocks.columns)
  portfolio_returns = selected_stocks.pct_change().dropna().dot(equal_weights)
  cumulative_returns = (1 + portfolio_returns).cumprod()
  return cumulative_returns, portfolio_returns

In [20]:
def fetch_benchmark(ticker, start):
  benchmark = yf.download(ticker, start)['Adj Close']
  benchmark_returns = benchmark.pct_change().dropna()
  cumulative_benchmark = (1+benchmark_returns).cumprod()
  return benchmark_returns, cumulative_benchmark