In [1]:
import pandas as pd

In [11]:
file_path = r'C:\Users\aghil\Desktop\Aghilas_org\Data Engineer Projects\Banque analyse\data\bank.xlsx'
data = pd.read_excel(file_path)
print(data.head())

      Account No       DATE               TRANSACTION DETAILS  CHQ.NO.  \
0  409000611074' 2017-06-29  TRF FROM  Indiaforensic SERVICES      NaN
1  409000611074' 2017-07-05  TRF FROM  Indiaforensic SERVICES      NaN
2  409000611074' 2017-07-18        FDRL/INTERNAL FUND TRANSFE      NaN
3  409000611074' 2017-08-01   TRF FRM  Indiaforensic SERVICES      NaN
4  409000611074' 2017-08-16        FDRL/INTERNAL FUND TRANSFE      NaN

  VALUE DATE  WITHDRAWAL AMT  DEPOSIT AMT  BALANCE AMT  .
0 2017-06-29             NaN    1000000.0    1000000.0  .
1 2017-07-05             NaN    1000000.0    2000000.0  .
2 2017-07-18             NaN     500000.0    2500000.0  .
3 2017-08-01             NaN    3000000.0    5500000.0  .
4 2017-08-16             NaN     500000.0    6000000.0  .

In [16]:
print("information générale sur les données")
print(data.info())

information générale sur les données
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116201 entries, 0 to 116200
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Account No           116201 non-null  object
 1   DATE                 116201 non-null  datetime64[ns]
 2   TRANSACTION DETAILS  113702 non-null  object
 3   CHQ.NO.              905 non-null     float64
 4   VALUE DATE           116201 non-null  datetime64[ns]
 5   WITHDRAWAL AMT       53549 non-null   float64
 6   DEPOSIT AMT          62652 non-null   float64
 7   BALANCE AMT          116201 non-null  float64
 8   .                    116201 non-null  object
dtypes: datetime64[ns](2), float64(4), object(3)
memory usage: 8.0+ MB
None