In [3]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
now =  datetime.now().strftime('%Y-%m-%d')
Apple = yf.download("AAPL", start= "2010-01-01", end= now)

In [ ]:
Apple

In [15]:
ticker=("SPY", "AAPL", "KO", "MSFT")
stocks = yf.download(ticker, start="2010-01-01", end=now)
stocks.to_csv("Stocks.csv")

[*********************100%%**********************]  4 of 4 completed

In [29]:
# The header serves to define multiple levels of column headers from the CSV file. 
stocks =  pd.read_csv("Stocks.csv", header=[0,1], index_col=[0]) # index_col is used tio delet the first column in our example is colled the index.
stocks

Price        Adj Close                                          Close  \
Ticker            AAPL         KO        MSFT         SPY        AAPL
Date
2010-01-04    6.447412  17.949806   23.300678   86.316002    7.643214
2010-01-05    6.458559  17.732668   23.308210   86.544472    7.656429
2010-01-06    6.355827  17.726379   23.165165   86.605400    7.534643
2010-01-07    6.344078  17.682314   22.924248   86.970985    7.520714
2010-01-08    6.386256  17.355047   23.082346   87.260406    7.570714
...                ...        ...         ...         ...         ...
2024-12-10  247.770004  62.910000  443.329987  602.799988  247.770004
2024-12-11  246.490005  62.639999  448.989990  607.460022  246.490005
2024-12-12  247.960007  63.840000  449.559998  604.330017  247.960007
2024-12-13  248.130005  63.119999  447.269989  604.210022  248.130005
2024-12-16  251.039993  62.549999  451.589996  606.789978  251.039993

Price                                                High             ...  \
Ticker             KO        MSFT         SPY        AAPL         KO  ...
Date                                                                  ...
2010-01-04  28.520000   30.950001  113.330002    7.660714  28.610001  ...
2010-01-05  28.174999   30.959999  113.629997    7.699643  28.495001  ...
2010-01-06  28.165001   30.770000  113.709999    7.686786  28.219999  ...
2010-01-07  28.094999   30.450001  114.190002    7.571429  28.184999  ...
2010-01-08  27.575001   30.660000  114.570000    7.571429  27.820000  ...
...               ...         ...         ...         ...        ...  ...
2024-12-10  62.910000  443.329987  602.799988  248.210007  63.040001  ...
2024-12-11  62.639999  448.989990  607.460022  250.800003  63.630001  ...
2024-12-12  63.840000  449.559998  604.330017  248.740005  63.919998  ...
2024-12-13  63.119999  447.269989  604.210022  249.289993  63.840000  ...
2024-12-16  62.549999  451.589996  606.789978  251.378906  63.860001  ...

Price              Low                    Open                         \
Ticker            MSFT         SPY        AAPL         KO        MSFT
Date
2010-01-04   30.590000  111.510002    7.622500  28.580000   30.620001
2010-01-05   30.639999  112.849998    7.664286  28.424999   30.850000
2010-01-06   30.520000  113.430000    7.656429  28.174999   30.879999
2010-01-07   30.190001  113.180000    7.562500  28.165001   30.629999
2010-01-08   30.240000  113.660004    7.510714  27.730000   30.280001
...                ...         ...         ...        ...         ...
2024-12-10  441.600006  602.130005  246.889999  62.700001  444.390015
2024-12-11  444.049988  605.500000  247.960007  63.000000  444.049988
2024-12-12  449.109985  604.330017  246.889999  63.549999  449.109985
2024-12-13  445.579987  602.809998  247.820007  63.570000  448.440002
2024-12-16  445.279999  605.210022  248.000000  63.230000  446.635010

Price                      Volume
Ticker             SPY       AAPL        KO      MSFT        SPY
Date
2010-01-04  112.370003  493729600  13870400  38409100  118944600
2010-01-05  113.260002  601904800  23172400  49749600  111579900
2010-01-06  113.519997  552160000  19264600  58182400  116074400
2010-01-07  113.500000  477131200  13234600  50559700  131091100
2010-01-08  113.889999  447610800  28712400  51197400  126402800
...                ...        ...       ...       ...        ...
2024-12-10  605.369995   36914800  14949400  18469500   37234500
2024-12-11  605.780029   45205800  32819000  19200200   28677700
2024-12-12  606.580017   32777500  17542100  20834800   31543800
2024-12-13  606.400024   33132000  13424300  20172200   35881700
2024-12-16  606.000000   50727877  16075321  22770426   42766528

[3764 rows x 24 columns]